body {
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #0088cc;
  font-size: 16px;
}

.score {
  &__area {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 30px auto;
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
  }

  &__panel {
    position: relative;
    display: inline-block;
    width: 40px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0088cc;
    color: #fff;
    background-color: #00aaff;
    cursor: pointer;
    margin-bottom: 10px;
    & + & {
      margin-left: 10px;
    }
    &--inactive {
      opacity: .5;
    }
    &--hidden:after {
      content: '?';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      padding: 7px;
      border-radius: 5px;
      background-color: #00aaff;
    }
  }

  &__btn {
    margin: 30px auto;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 4px 0 #e91b0c;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    &:hover {
      opacity: .8;
    }
    &--pushed {
      margin-top: 32px;
      box-shadow: 0 2px 0 #e91b0c;
    }
  }
}

