doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title dotinstall-number-touch-game
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css', media='all')
    // endbuild
  body
    .score
      #js-score-area.score__area
        | Your Score:&nbsp;
        span#js-score-text.score__text 0.0
      #js-score-board
      #js-score-btn.score__btn START

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
